/************************************/
/***            RESETS            ***/
/************************************/

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    -webkit-font-smoothing: antialiased;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
    padding: 0;
}

img,
figure,
picture,
video,
iframe,
embed,
object,
canvas,
svg {
    display: block;
    max-height: 100%;
    max-width: 100%;
}

ul {
    list-style: none;
    padding-inline-start: 0;
}

svg {
    fill: currentColor;
    width: 100%;
    height: auto;
}

button {
    cursor: pointer;
    display: inline-block;
}

button,
textarea,
select,
input {
    font: inherit;
    font-size: inherit;
}

address {
    font-style: normal;
}

a {
    color: inherit;
}

h1 > a,
h2 > a,
h3 > a,
h4 > a {
    text-decoration: none;
}

/************************************/
/***         BASE STYLES          ***/
/************************************/

:root {
    --card-elevation1: 5%;
    --card-elevation2: 10%;
    --card-elevation3: 15%;

    --palette-dark-primary-main: #80cbc4;
    --palette-dark-primary-light: #e0f2f1;
    --palette-dark-primary-dark: #004d40;
    --palette-dark-secondary-main: #d500f9;
    --palette-dark-secondary-light: #dd33fa;
    --palette-dark-secondary-dark: #9500ae;
    --palette-dark-background: #212121;
    --palette-dark-black: #121212;
    --palette-dark-error-main: #f44336;
    --palette-dark-error-light: #e57373;
    --palette-dark-error-main: #d32f2f;
    --palette-dark-warning-main: #ffa726;
    --palette-dark-warning-light: #ffb74d;
    --palette-dark-warning-main: #f57c00;
    --palette-dark-info-main: #29b6f6;
    --palette-dark-info-light: #4fc3f7;
    --palette-dark-info-main: #0288d1;
    --palette-dark-success-main: #66bb6a;
    --palette-dark-success-light: #81c784;
    --palette-dark-success-main: #388e3c;
    --palette-dark-text-primary: #ffffff;
    --palette-dark-text-secondary: hsla(0, 0%, 100%, 0.7);
    --palette-dark-text-disabled: hsla(0, 0%, 100%, 0.5);
    --palette-light-text-primary: hsla(0, 0%, 0%, 0.87);
    --palette-light-text-secondary: hsla(0, 0%, 0%, 0.6);
    --palette-light-text-disabled: hsla(0, 0%, 0%, 0.38);

    --font-family-heading: 'Open Sans', sans-serif;
    --font-family-body: 'Open Sans', sans-serif;

    --font-size-4: 5px;
    --font-size-3: 7px;
    --font-size-2: 9px;
    --font-size-1: 12px;
    --font-size1: 16px;
    --font-size2: 21px;
    --font-size3: 28px;
    --font-size4: 37px;
    --font-size5: 50px;
    --font-size6: 67px;
    --font-size7: 89px;
    --font-size8: 119px;
    --font-size9: 159px;

    --max-page-width: 175rem;
    --max-content-width: 75rem;
    --header-height: 10rem;
    --footer-height: 25rem;
    --layout-height: 21rem;
    --logo-height: 5rem;

    --max-content-width: 1240px;
    --max-colomn-width: 620px;

    --break-point-xs: 374px;
    --break-point-sm: 676px;
    --break-point-md: 1023px;
    --break-point-lg: 1260px;
    --break-point-xl: 1440px;
}

/*  UTILITY STYLES  */

.content-width-container {
    max-width: var(--max-content-width);
    margin-inline: auto;
    padding-inline: 0.75rem;
}

.elevation1 {
    background-color: hsla(0, 0%, 100%, 0.05);
}

.elevation2 {
    background-color: hsla(0, 0%, 100%, 0.07);
}

.elevation3 {
    background-color: hsla(0, 0%, 100%, 0.09);
}

.elevation4 {
    background-color: hsla(0, 0%, 100%, 0.12);
}

.elevation5 {
    background-color: hsla(0, 0%, 100%, 0.15);
}

.ipa {
    font-weight: 600;
    background-color: hsla(0, 0%, 100%, 0.07);
}

.center {
    text-align: center;
}

/* Small and up */
@media (min-width: 676px) {
}

/* Medium and up */
@media (min-width: 1023px) {
}

/* Large and up */
@media (min-width: 1259px) {
}

/* Xtra Large and up */
@media (min-width: 1439px) {
}

/***  BASE STYLES  ***/

body {
    font-family: var(--font-family-body);
    font-size: 1rem;
    line-height: 1.5;
    color: var(--palette-dark-text-primary);
    background-color: var(--palette-dark-black);
    width: 100%;
    margin-inline: auto;
    accent-color: var(--color-accent);
}

section {
    padding-block: 1rem;
}

/* Small and up */
@media (min-width: 676px) {
}

/* Medium and up */
@media (min-width: 1023px) {
}

/* Large and up */
@media (min-width: 1259px) {
}

/* Xtra Large and up */
@media (min-width: 1439px) {
}

/***   TYPOGRAPHY   ***/
h1 {
    font-size: 2rem;
    font-weight: 400;
    margin-top: 0.25rem;
    margin-bottom: 0.75rem;
    text-transform: uppercase;
}

h2 {
    font-size: 1.75rem;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

h3 {
    margin-top: 0;
    margin-bottom: 0.25rem;
}

h4 {
    margin-top: 0;
    margin-bottom: 0.25rem;
}

p {
    margin-block: 0.75rem;
}

/* Small and up */
@media (min-width: 676px) {
    h1 {
        font-size: 2.25rem;
        margin-bottom: 0.25rem;
    }

    h2 {
        font-size: 2.5rem;

        margin-bottom: 0.25rem;
    }
}

/* Medium and up */
@media (min-width: 1023px) {
}

/* Large and up */
@media (min-width: 1259px) {
}

/* Xtra Large and up */
@media (min-width: 1439px) {
}

/************************************/
/***       COMPONENT STYLES       ***/
/************************************/

/*** Select ***/

select {
    width: 100%;
    min-width: 15ch;
    max-width: 30ch;
    background-color: hsla(0, 0%, 100%, 0.07);
    border: 1px solid hsla(0, 0%, 100%, 0.1);
    color: inherit;
    font-size: inherit;
    padding: 0.25em 0.5em;
}

select option {
    background-color: #232323;
    border: 0;
}

/***  End: Select  ***/

/***  Forms  ***/
form {
    max-width: 500px;
}

.form-control input,
.form-control textarea {
    padding: 0.2em;
}

form input.error,
form textarea.error {
    border-color: var(--palette-dark-error-light);
}

.form-control {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

.form-control label {
    margin-bottom: 5px;
}

form .helptext {
    margin-top: 0.25rem;
    font-size: var(--font-size-1);
}

form .helptext.error {
    color: var(--palette-dark-error-light);
}

.error-list {
    border: 1px solid var(--palette-dark-error-light);
    list-style-type: disc;
    color: var(--palette-dark-error-light);
    padding-block: 0.5rem;
    padding-inline: 2rem;
}

/***  End: Forms  ***/

/***  Buttons  ***/
.button-container {
    display: flex;
    padding-block: 1rem;
}

.button-container.left {
    justify-content: flex-start;
}

.button-container.center {
    justify-content: center;
}

.button-container.right {
    justify-content: flex-end;
}

.button {
    color: var(--palette-dark-primary-main);
    background-color: transparent;
    font-size: 1.25rem;
    font-weight: 400;
    text-decoration: none;
}

.button:hover {
    opacity: 0.65;
}

.button.text {
    background-color: transparent;
    border: none;
    color: var(--palette-dark-primary-main);
    font-weight: 600;
    text-transform: uppercase;
}

.button.contained {
    background-color: var(--palette-dark-primary-main);
    border: 1px solid var(--palette-dark-primary-main);
    color: var(--palette-light-text-primary);
}

.button.outlined {
    border: 1px solid currentColor;
    background-color: transparent;
}

.button.icon {
    color: inherit;
    border: none;
    height: 32px;
    width: 32px;
}
.button.icon svg {
}

.button.icon path {
    fill: currentColor;
}

.button.disabled {
    cursor: not-allowed;
    opacity: 50%;
}
/*** End: Buttons ***/

/*** Toast ***/
.toast-container.active {
    top: 1rem;
}

.toast-container {
    position: fixed;
    top: -100%;
    right: 50vw;
    translate: 50%;
    width: fit-content;
    min-width: 200px;
    max-width: 350px;
    background-color: hotpink;

    padding: 0.25rem 1rem;
    animation: forwards 0.75s ease-in-out;
}

.toast-container.success {
    color: white;
    background-color: hsl(120, 100%, 35%);
}
.toast-container.error {
    color: white;
    background-color: hsl(0, 100%, 50%);
}
.toast-container.info {
    color: white;
    background-color: hsl(240, 100%, 40%);
}
.toast-container.warning {
    color: white;
    background-color: hsl(46, 97%, 42%);
}

.toast-container p {
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
}

/*** End: Toast ***/

/* Small and up */
@media (min-width: 676px) {
}

/* Medium and up */
@media (min-width: 1023px) {
}

/* Large and up */
@media (min-width: 1259px) {
}

/* Xtra Large and up */
@media (min-width: 1439px) {
}

/*** Blog list ***/
.post-list {
}
.post-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: hsla(0, 0%, 100%, 0.05);
    padding-block: 0.75rem;
    padding-inline: 0.75rem;
    border-radius: 1rem;
    margin-bottom: 8px;
}
.post-card__body {
}

.post-card__figure {
}

.post-card__image {
    height: 175px;
    object-fit: cover;
    cursor: pointer;
}

.post-card__title {
    font-size: 1.125rem;
    font-weight: 600;
    margin-block: 0.25rem;
}

.post-card__title:hover {
    text-decoration: underline;
    cursor: pointer;
}

.post-card__meta {
    font-size: 0.875rem;
    color: var(--palette-dark-primary-main);
}

.post-card__excerpt {
    font-size: 0.875rem;
    margin-block: 0.25rem;
}

.post-card__footer {
    display: flex;
    justify-content: flex-end;
}

.post-card__footer-link {
    color: var(--palette-dark-primary-main);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    padding: 0.5rem;
}
.post-card__footer-link:hover {
    text-decoration: underline;
}

/* Small and up */
@media (min-width: 676px) {
    .post-list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 1rem;
        padding-block: 1rem;
    }
    .post-card {
        background-color: hsla(0, 0%, 100%, 0.1);
        padding-block: 1rem;
        padding-inline: 1rem;
        border-radius: 1rem;
    }
}

/* Medium and up */
@media (min-width: 1023px) {
}

/* Large and up */
@media (min-width: 1259px) {
}

/* Xtra Large and up */
@media (min-width: 1439px) {
}
/*** End: Blog list ***/

/************************************/
/***        HEADER STYLES         ***/
/************************************/
.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: var(--max-content-width);
    margin-inline: auto;
    padding: 0.75rem;
}

.branding {
    font-weight: 200;
    font-size: 1.75rem;
}

.branding a {
    text-decoration: none;
    color: var(--palette-dark-primary-main);
}

.header-container__right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
}

.main-navigation__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
    height: 100%;
}

.main-navigation__link {
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
}

.main-navigation__link.active {
    border-bottom: 2px solid var(--palette-dark-primary-main);
}

.main-navigation__link.active {
    color: var(--palette-dark-primary-main);
}

.main-navigation__item:hover .main-navigation__link {
    color: var(--palette-dark-primary-light);
    border-bottom: 1px solid var(--palette-dark-primary-light);
}

.main-navigation__list {
    display: none;
}

#toggle-search-button {
    display: none;
}

#mobile-menu.active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    position: fixed;
    height: 100vh;
    width: 100vw;
    inset: 0;
    background-color: #1e1e1e;
    z-index: 1;
}

#mobile-menu.active ~ #menu-button {
    position: relative;
    z-index: 2;
}

#menu-button {
    color: var(--palette-dark-primary-main);
}

#close-icon {
    display: none;
}

#search-form {
    display: flex;
    align-items: center;
}

.search-form__input {
    height: 32px;
}

.search-form__submit {
    background-color: var(--palette-dark-primary-dark);
}

/* Small and up */
@media (min-width: 676px) {
    #menu-button {
        display: none;
    }

    #search-form {
        display: none;
    }

    .main-navigation__item.home {
        display: none;
    }

    .main-navigation__list {
        display: flex;
    }
}

/* Medium and up */
@media (min-width: 1023px) {
}

/* Large and up */
@media (min-width: 1259px) {
}

/* Xtra Large and up */
@media (min-width: 1439px) {
}

/************************************/
/***       FOOTER STYLES          ***/
/************************************/
.copyright-footer {
    background-color: var(--palette-dark-primary-dark);
    font-size: 1rem;
    text-align: center;
}

.copyright-notice {
    margin: 0;
}

.some-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-bottom: 2rem;
}

.some-links a {
    width: 40px;
}

.some-links a:hover,
.some-links a:focus {
    color: var(--palette-dark-primary-main);
}

/************************************/
/***        PAGE STYLES           ***/
/************************************/

/***  HOME PAGE  ***/

/*** BLOG PAGE ***/

/************************************/
/***         ANIMATIONS           ***/
/************************************/
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/************************************/
/***       ACCESSABILLITY         ***/
/************************************/
.sr-only {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
}

.sr-only-focusable:focus,
.sr-only-focusable:active {
    clip: auto !important;
    -webkit-clip-path: none !important;
    clip-path: none !important;
    height: auto !important;
    margin: auto !important;
    overflow: visible !important;
    width: auto !important;
    white-space: normal !important;
}

*:focus-visible {
    outline: var(--palette-dark-primary-main) solid 0.25rem;
    outline-offset: 0.15rem;
}
