.post-slider {
    overflow: hidden;
    position: relative;
}

.post-slider__posts-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 100%;
    margin: 0 0 1rem;
    list-style-type: none;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.post-slider__posts-container::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.post-slider__post {
    background-color: hsla(0, 0%, 100%, 0.1);
    padding: 1rem;
    flex: 2 0 95%;
}

.post-slider__post-meta {
    color: var(--palette-dark-primary-main);
}

.post-slider__button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
}

.post-slider__button {
    display: none;
}

.post-slider__button:hover {
    background-color: hsla(0, 0%, 100%, 0.25);
}

.post-slider__button.back svg {
    transform: translate(-5px, -4px);
}

.post-slider__button.next svg {
    transform: translate(-1px, -4px);
}

.post-slider__post-link {
    display: block;
    padding: 0.5rem;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--palette-dark-primary-main);
}

.post-slider__post-link:hover {
    text-decoration: underline;
}

/* Small and up */
@media (min-width: 676px) {
    .post-slider__post-link {
        text-align: right;
    }

    .post-slider__post {
        flex: 2 0 50%;
    }

    .post-slider__button {
        display: inline;
        background-color: hsla(0, 0%, 100%, 0.15);
        border: none;
        width: 48px;
        height: 48px;
        border-radius: 50%;
    }
}

/* Medium and up */
@media (min-width: 1023px) {
    .post-slider__post {
        flex: 2 0 32%;
    }
}

/* Large and up */
@media (min-width: 1259px) {
}

/* Xtra Large and up */
@media (min-width: 1439px) {
}
